.button-1 {
  color: #fff !important;
  background: linear-gradient(to bottom, #0066ff, #0061f5);
  border: 1px solid #0066ff;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

.medium {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  &.button-1 {
    padding: 8px 13px;
  }
}

.small {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  padding: 4px;
  text-decoration: none;
  &.button-1 {
    padding: 4px 14px;
  }
}

.table-1 {
  background: #eaeaea;
  margin-bottom: 15px;
  width: 100%;

  th, td {
    padding: 5px;
  }
  th {
    vertical-align: bottom;
    font-weight: bold;
    text-align: left;
  }

  tr:nth-child(even) {
    background: #f8f8f8;
  }

  .show-more {
    font-weight: bold;
    font-size: 16px;
    border-radius: 1px;
    background: linear-gradient(to bottom, #fff, #eaeaea);
    color: #333;
    border: 1px solid #bbb;
    text-align: center;
    text-decoration: none;
  }

  select {
    padding: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
}

select {
  color: inherit;
}