.login {
  margin-top: 20%;
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }

  a, input {
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding: 15px !important;
    height: 53px;
    width: 100%;
  }
}