Hey there Student,

We would like to remind you that you have not been active on moodle for {{time}}.

<p>
    <a href="http://localhost/moodle">Login to Moodle now</a>
</p>

<p>
    <a href="">Unsubscribe</a> from these Reminders
</p>
