<div class="container">
  <div class="sixteen columns top-bar">
    <a class="button-1 small sign-out" href="">Sign Out</a>
    Signed in as <span class="user">Andreas Stocker</span>
  </div>
  {{outlet}}
</div>
