<div class="container">
  <div class="sixteen columns">
  </div>
  <div class="four columns sidebar">
    <div class="item">
      i
    </div>
    <div class="item">
      i
    </div>
  </div>
  <div class="twelve columns main-content">
    <h1>This is the Ember Base App</h1>
    {{outlet}}
  </div>
</div>