<div class="super-container">
	<div class="top-bar">
		<div class="alpha item">
			Overview
		</div>
		<div class="item">
			Login Frequency
		</div>
		<div class="item active">
			Homework Completed
		</div>
		<div class="item">
			Time Spent
		</div>
		<div class="button-1 sign-out">
			Sign Out
		</div>
	</div>
	<div class="container">
    {{outlet}}
	</div>
</div>