<div class="login">
  <h1>Moodle Engagement Analytics</h1>
	<div class="six columns">
    <input type="email" placeholder="Moodle Username"/>
	</div>
	<div class="six columns">
		<input type="password" placeholder="Moodle Password"/>
	</div>
	<a class="four columns button-1" {{action 'login'}}>Login</a>
</div>
